.post-lefst {
	width: 100%;
	flex-wrap: wrap;
	flex-direction: row;
	margin: 0em 1em 0em 0em;
	padding: 0em;

	a,
	h5 {
		font-size: 1rem;
		margin: 0em;
		padding: 0em 0em 1em 10px;
	}
}
h2,
h3 {
	font-size: 1.2rem;
	margin: 0.4em;
	padding: 0em;
	color: $clr-heading;
	word-break: word-break;
}

p {
	font-size: 1rem;
	margin: auto 0em 1em 0.7em;
	padding: 0em;
	color: $clr-text;
	word-break: word-break;
}

.text-muted {
	margin: auto 0;
}

.post-cta {
	margin-top: 1rem;
}

.interactions {
	display: flex;
	flex-direction: row;
	align-content: space-between;
	margin: 0.4em;
	width: 100%;
}

.btn-container {
	height: 100%;
	margin-top: auto;
}

/* .column-left.col-12 {
  text-align: center;
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: $bg-color;
} */

.post-list-container {
	margin: auto;
	width: auto;
	margin: auto;
	display: flex;
	flex-direction: column;
}

/* .column-left {
  position: fixed;
  background-color: red;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
}
 */
