.post-container {
	max-width: 500px;
	margin: 0 auto;

	.post-inner-container {
		background-color: $clr-dark;
		padding: 1.5rem;
	}

	.post-details-body {
		margin-bottom: 0;
	}
}

.comment-container {
	background-color: $clr-dark-1;
	margin-top: 1rem;

	span {
		padding: 10px;
		display: block;
	}
}

.nav-tabs {
	.nav-link,
	.nav-link.active {
		background-color: $bg-color;
		color: $clr-text;
		border-radius: 0;
	}

	.nav-link.active {
		border: 1px solid $clr-cta;
	}

	.nav-link:hover {
		background-color: $clr-dark-1;
		border: 1px solid $clr-cta;
		color: $clr-cta-hover;
	}
}

.comment-form,
.react-form {
	background-color: $bg-color;
	padding: 1rem 1rem;
}

.react-select,
.comment-textarea {
	background-color: $clr-dark-1;
	color: $clr-text;
	border: none;
	padding: 1rem;
	display: flex;
}
