.btn-primary {
	width: 65%;
	height: auto;
	padding: 0.4em;
	font-size: 1.2rem !important;
	font-weight: bold;
	background-color: $clr-cta;
	border: none;
	border-radius: 9999px;
}
.btn-primary:hover {
	background-color: $clr-cta-hover !important;
}
