* {
	margin: 0em;
	padding: 0em;
	word-break: break-all;
}
body {
	background-color: $bg-color;
}

a {
	text-decoration: none;
	color: $clr-links;
}
a:hover {
	color: $clr-cta-hover;
}
.ctr-link a {
	font-size: 1.2em;
	margin: 0.8em 0em 0em 0em;
}
.ctr-link svg {
	font-size: 2rem;
	margin: 0em 0.5em 0em 0em;
}
.ctr-link span {
	font-size: 1.4rem;
}

img {
	width: 5em;
}
