.desktop-nav {
	flex-direction: column;
	align-content: flex-end;
	justify-content: right;
	height: 100%;
	width: 20em;
	display: flex;
	position: fixed;
	margin: 0em;
	padding: 0em;

	.logo-container {
		@extend .center-align;
		flex-direction: column;
		min-width: 8em;
		width: 20%;
		padding: 0;
		margin: 1em auto 1em auto;
		font-size: 1.4rem;

		.logo-img {
			width: 80px;
			height: 80px;
		}
	}

	.admin-container {
		min-width: 8em;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: flex-start;

		.cta-secondary {
			align-self: center;
			max-width: 8em;
		}
	}

	.user-container {
		width: auto;
		margin: auto;
		display: flex;
		flex-direction: column;
		align-content: center;

		.icon-user {
			color: $clr-text;
			height: 2.5rem;
		}
		.icon-user:hover {
			color: $clr-cta-hover;
			border: 1px solid $clr-cta-hover;
			border-radius: 9999px;
		}

		a:hover svg {
			color: $link-active;
		}

		span {
			align-self: center;
			font-size: 1rem;
		}

		.avatar {
			margin: auto auto 0.2em auto;
			width: 64px;
			height: 64px;
			border-radius: 9999px;
		}
	}
}

.icon-nav {
	margin: auto 10px;
	height: 35px;
	width: 35px;
	color: $clr-links;
}

.user-link {
	padding-bottom: auto;
	background-color: transparent;
	color: white;
}
.user-link:hover svg {
	padding-bottom: auto;
	color: $clr-cta-hover;
}

.visit-container {
	@extend .center-align;
	width: 20%;
	height: 100%;
	border-left: none;
}

.mobile-nav {
	position: fixed;
	bottom: 0px;
	width: fit-content;
	border-top: $border;
	background-color: $bg-color;
	height: auto;
}

.mobile-nav-wrapper {
	height: 100%;
	width: 100%;
}

.offcanvas-container {
	margin-top: 2rem;
}

.offcanvas {
	background-color: $bg-color;
}

.username {
	font-size: 1rem;
}

.navbar-toggler {
	border: transparent;
}
.logo-img-phone {
	margin: 0.4em;
	width: 50px;
	height: 50px;
}
.mobile-nav {
	z-index: 5;
	width: 100%;
	height: 4em;
	display: flex;
	flex-direction: row;
	position: fixed;
	justify-content: space-between;
	align-content: space-between;
	bottom: 0px;
}

.icon-nav-mob {
	margin: auto 1em;
	height: 35px;
	width: 35px;
	color: $clr-links;
}
.profile-btn-mob {
	background-color: transparent;
	border-color: transparent;
	color: transparent;
}
.avatar {
	border-radius: 9999px;
	height: 40px;
	width: 40px;
}

.user-link {
	align-self: center;
}

#popover {
	display: flex;
	flex-direction: column;
	width: 60%;
	height: auto;
	padding: 1em 1em 3em 1em;
	background-color: $bg-color;
	margin: 0px;
	border-color: $clr-text;

	.username {
		font-size: 1rem;
	}

	.newpost-mob {
		align-self: center;
		width: 80%;
		margin-bottom: 1em;
	}
	.logout-mob,
	svg {
		height: 1.6rem;
		font-size: 1.2rem;
		align-self: center;
		width: auto;
	}

	img {
		border-radius: 9999px;
		height: 75px;
		width: 75px;
	}
}
